$primary-color: #333 !default;
$light-gray: #f4f4f4 !default;
$dark-red: darkred !default;
$crimson: crimson !default;
$font-sans: 'Open Sans', sans-serif !default;
$font-serif: 'Playfair Display', serif !default;
