$primary-color: #333 !default;
$light-gray: #f6f6f6;
$dark-red: #c0392b;
$crimson: #e74c3c;
$font-sans: 'Open Sans', sans-serif !default;
$font-serif: 'Playfair Display', serif !default;
$gold: #f1c40f;
$green: #27ae60;