// _navigation.scss
@use '../base/variables';

.site-nav {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 20px 0;
  background: #fff;
  position: sticky;
  top: 0;
  z-index: 10;

  a {
    text-decoration: none;
    color: variables.$primary-color;
    font-size: 1rem;
    letter-spacing: 1px;

    &:hover {
      color: black;
    }
  }
}