@use '../base/variables';

.portfolio-container {
  padding: 60px 20px;
  display: flex;
  flex-direction: column;
  gap: 80px;

  .portfolio-item {
    border: 2px dashed red;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 40px;

    .portfolio-image {
      flex: 1 1 40%;
      text-align: center;

      img {
        max-width: 100%;
        border-radius: 10px;
        object-fit: cover;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
      }
    }

    .portfolio-text {
      flex: 1 1 50%;

      h2 {
        font-size: 2.2rem;
        font-family: variables.$font-serif;
        margin-bottom: 20px;
        color: variables.$text-dark;
      }

      .story-content {
        font-size: 1.1rem;
        line-height: 1.6;
        color: variables.$text-medium;
      }
    }
  }
}
